@model Ecommerce.Models.ModelClasses.HomeProductsModels

@{
    ViewData["Title"] = "Home Page";
}
<!-- hero slider area start -->
<!-- hero slider area start -->
<section class="slider-area">
    <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">



        <div class="hero-single-slide hero-overlay">
            <div class="hero-slider-item bg-img" data-bg="../WebApp/assets/img/slider/home4-slide1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-1">
                                <h2 class="slide-title">Family Jewellery <span>Collection</span></h2>
                                <h4 class="slide-desc">Designer Jewellery Necklaces-Bracelets-Earings</h4>
                                <a href="shop.html" class="btn btn-hero">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="hero-single-slide hero-overlay">
            <div class="bg-video-wrap">
                <video class="homeVideo" src="~/WebApp/assets/video/1.mp4" loop muted autoplay></video>
                <div class="overlay"> </div>
                <h1 class="bannerHeading">Video Heading for Jewellery</h1>
            </div>
        </div>
    </div>
</section>

<!-- hero slider area end -->



<section class="mb-1 mt-10">
    <div class="container-fluid">
        <div class="section-title text-center mt-4">
            <h2 class="title">Exquisite Collections</h2>
            <p class="sub-title">Add featured products to weekly lineup</p>
        </div>
        <div class="row">
            <div class="col-md-4 mr-12">
                <div class="img-wrapper">
                    <img class="inner-img" src="~/WebApp/assets/img/home/single-Img.jpg" />
                </div>
                <div class="mt-2"></div>
                <div class="img-wrapper">
                    <img class="inner-img" src="~/WebApp/assets/img/home/single-Img1.jpg" />
                </div>
            </div>
            <div class="col-md-8 rightSection">
                <div class="img-wrapper">
                    <img class="inner-img" src="~/WebApp/assets/img/home/BigImage.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- banner statistics area start -->
<div class="banner-statistics-area mb-2 mt-2">
    <div class="container-fluid">
        <div class="row row-20 mtn-20">
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="#">
                        <div class="img-wrapper">
                            <img class="inner-img" src="~/WebApp/assets/img/banner/img1-top.jpg" alt="product banner">
                        </div>
                    </a>
                    <div class="banner-content text-right">
                        <h5 class="banner-text1">BEAUTIFUL</h5>
                        <h2 class="banner-text2">Wedding<span>Rings</span></h2>
                        <a href="~/Home/Listing" class="btn btn-text">Shop Now</a>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="#">
                        <div class="img-wrapper">
                            <img class="inner-img" src="~/WebApp/assets/img/banner/img2-top.jpg" alt="product banner">
                        </div>
                    </a>
                    <div class="banner-content text-center">
                        <h5 class="banner-text1">EARRINGS</h5>
                        <h2 class="banner-text2">Tangerine Floral <span>Earring</span></h2>
                        <a href="~/Home/Listing" class="btn btn-text">Shop Now</a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- banner statistics area end -->

<section class="mb-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 leftSection">
                <div class="img-wrapper">
                    <img class="inner-img" src="~/WebApp/assets/img/home/right.jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-wrapper">
                    <img class="inner-img" src="~/WebApp/assets/img/home/single-Img3.jpg" />
                </div>
                <div class="mt-2"></div>
                <div class="img-wrapper">
                    <img class="inner-img" src="~/WebApp/assets/img/home/single-Img4.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>





<!-- hot deals area start -->
<section class="hot-deals section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title">Hot deals</h2>
                    <p class="sub-title">Add hot deal products to weekly lineup</p>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="deals-carousel-active slick-row-10 slick-arrow-style">
                    @if (Model.hotDeals != null)
                    {
                        foreach (var v in Model.hotDeals)
                        {
                            <div class="hot-deals-item product-item">
                                <figure class="product-thumb">
                                    <a href="~/Home/Product?pid=@v.ProductId">
                                        <img src="~/ProductImages/@v.ProductMainImages_List" alt="product">
                                    </a>
                                    <div class="product-badge">
                                        <!--<div class="product-label new">-->
                                        @*<span>sale</span>*@
                                        <!--</div>-->
                                        <div class="product-label discount">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);" onclick="AddToWishList(@v.ProductId,@ViewBag.LoggedUser.userId,0)" data-placement="left" title="Add to wishlist">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                        @*<a href="#" data-toggle="modal"
                                            data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="Quick View">
                                             <i class="pe-7s-search"></i></span></a>*@
                                    </div>
                                    <div class="cart-hover">
                                        <button class="btn btn-cart" onclick="AddToCart(@v.ProductId,0,1)">add to cart</button>
                                    </div>
                                </figure>
                                <div class="product-caption text-center">
                                    <div class="product-identity">
                                        <p class="manufacturer-name"><a href="#">@v.CategoryId_name</a></p>
                                    </div>
                                    <h6 class="product-name">
                                        <a href="~/Home/Product?pid=@v.ProductId">@v.ProductTitle</a>
                                    </h6>
                                    <div class="price-box">
                                        <span class="price-regular">Rs. @v.SellingPrice</span>
                                        <span class="price-old"><del>Rs. @v.ActualPrice</del></span>
                                    </div>
                                    <!--                                    <div class="product-countdown" data-countdown="2021/11/25"></div>-->
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- hot deals area end -->
<!-- banner statistics area start -->
<div class="banner-statistics-area">
    <div class="container-fluid">
        <div class="row row-20 mtn-20">
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="#">
                        <div class="img-wrapper">
                            <img class="inner-img" src="~/WebApp/assets/img/banner/img1-top.jpg" alt="product banner">
                        </div>
                    </a>
                    <div class="banner-content text-right">
                        <h5 class="banner-text1">BEAUTIFUL</h5>
                        <h2 class="banner-text2">Wedding<span>Rings</span></h2>
                        <a href="~/Home/Listing" class="btn btn-text">Shop Now</a>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="#">
                        <div class="img-wrapper">
                            <img class="inner-img" src="~/WebApp/assets/img/banner/img2-top.jpg" alt="product banner">
                        </div>
                    </a>
                    <div class="banner-content text-center">
                        <h5 class="banner-text1">EARRINGS</h5>
                        <h2 class="banner-text2">Tangerine Floral <span>Earring</span></h2>
                        <a href="~/Home/Listing" class="btn btn-text">Shop Now</a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- banner statistics area end -->
<!-- featured product area start -->
<section class="feature-product section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title">featured products</h2>
                    <p class="sub-title">Add featured products to weekly lineup</p>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-carousel-4_2 slick-row-10 slick-arrow-style">
                    <!-- product item start -->
                    @if (Model.featured != null)
                    {
                        foreach (var v in Model.featured)
                        {
                            <div class="hot-deals-item product-item">
                                <figure class="product-thumb">
                                    <a href="~/Home/Product?pid=@v.ProductId">
                                        <img src="~/ProductImages/@v.ProductMainImages_List" alt="product">
                                    </a>
                                    <div class="product-badge">
                                        <!--<div class="product-label new">-->
                                        @*<span>sale</span>*@
                                        <!--</div>-->
                                        <div class="product-label discount">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);" onclick="AddToWishList(@v.ProductId,@ViewBag.LoggedUser.userId,0)" data-placement="left" title="Add to wishlist">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                        @*<a href="#" data-toggle="modal"
                                            data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="Quick View">
                                             <i class="pe-7s-search"></i></span></a>*@
                                    </div>
                                    <div class="cart-hover">
                                        <button class="btn btn-cart" onclick="AddToCart(@v.ProductId,0,1)">add to cart</button>
                                    </div>
                                </figure>
                                <div class="product-caption text-center">
                                    <div class="product-identity">
                                        <p class="manufacturer-name"><a href="#">@v.CategoryId_name</a></p>
                                    </div>
                                    <h6 class="product-name">
                                        <a href="~/Home/Product?pid=@v.ProductId">@v.ProductTitle</a>
                                    </h6>
                                    <div class="price-box">
                                        <span class="price-regular">Rs. @v.SellingPrice</span>
                                        <span class="price-old"><del>Rs. @v.ActualPrice</del></span>
                                    </div>
                                    <!--                                    <div class="product-countdown" data-countdown="2021/11/25"></div>-->
                                </div>
                            </div>
                        }
                    }

                    <!-- product item end -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- featured product area end -->
<!-- service policy area start -->
<div class="service-policy">
    <div class="container-fluid">
        <div class="policy-block section-padding">
            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-plane"></i>
                        </div>
                        <div class="policy-content">
                            <h6>Free Shipping</h6>
                            <p>Free shipping all order</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-help2"></i>
                        </div>
                        <div class="policy-content">
                            <h6>Support 24/7</h6>
                            <p>Support 24 hours a day</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-back"></i>
                        </div>
                        <div class="policy-content">
                            <h6>Money Return</h6>
                            <p>30 days for free return</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-credit"></i>
                        </div>
                        <div class="policy-content">
                            <h6>100% Payment Secure</h6>
                            <p>We ensure secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service policy area end -->


<div class="banner-statistics-area mt-4">
    <div class="container-fluid">
        <div class="row row-20 mtn-20">
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="#">
                        <div class="img-wrapper">
                            <img class="inner-img" src="~/WebApp/assets/img/banner/img3-top.jpg" alt="product banner">
                        </div>
                    </a>
                    <div class="banner-content text-center">
                        <h5 class="banner-text1">NEW ARRIVALLS</h5>
                        <h2 class="banner-text2">Pearl<span>Necklaces</span></h2>
                        <a href="~/Home/Listing" class="btn btn-text">Shop Now</a>
                    </div>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure class="banner-statistics mt-20">
                    <a href="#">
                        <div class="img-wrapper">
                            <img class="inner-img" src="~/WebApp/assets/img/banner/img4-top.jpg" alt="product banner">
                        </div>
                    </a>
                    <div class="banner-content text-right">
                        <h5 class="banner-text1">NEW DESIGN</h5>
                        <h2 class="banner-text2">Diamond<span>Jewelry</span></h2>
                        <a href="~/Home/Listing" class="btn btn-text">Shop Now</a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>

<!-- latest blog area start -->
<section class="latest-blog-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title">latest blogs</h2>
                    <p class="sub-title">There are latest blog posts</p>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="blog-carousel-active slick-row-10 slick-arrow-style">
                    <!-- blog post item start -->
                    <div class="blog-post-item">
                        <figure class="blog-thumb">
                            <a href="blog-details.html">
                                <img src="~/WebApp/assets/img/blog/blog-img1.jpg" alt="blog image">
                            </a>
                        </figure>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <p>25/03/2019 | <a href="#">Hj</a></p>
                            </div>
                            <h5 class="blog-title">
                                <a href="blog-details.html">Celebrity Daughter Opens Up About Having Her Eye Color Changed</a>
                            </h5>
                        </div>
                    </div>
                    <!-- blog post item end -->
                    <!-- blog post item start -->
                    <div class="blog-post-item">
                        <figure class="blog-thumb">
                            <a href="blog-details.html">
                                <img src="~/WebApp/assets/img/blog/blog-img2.jpg" alt="blog image">
                            </a>
                        </figure>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <p>25/03/2019 | <a href="#">Hj</a></p>
                            </div>
                            <h5 class="blog-title">
                                <a href="blog-details.html">Children Left Home Alone For 4 Days In TV series Experiment</a>
                            </h5>
                        </div>
                    </div>
                    <!-- blog post item end -->
                    <!-- blog post item start -->
                    <div class="blog-post-item">
                        <figure class="blog-thumb">
                            <a href="blog-details.html">
                                <img src="~/WebApp/assets/img/blog/blog-img3.jpg" alt="blog image">
                            </a>
                        </figure>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <p>25/03/2019 | <a href="#">Hj</a></p>
                            </div>
                            <h5 class="blog-title">
                                <a href="blog-details.html">Lotto Winner Offering Up Money To Any Man That Will Date Her</a>
                            </h5>
                        </div>
                    </div>
                    <!-- blog post item end -->
                    <!-- blog post item start -->
                    <div class="blog-post-item">
                        <figure class="blog-thumb">
                            <a href="blog-details.html">
                                <img src="~/WebApp/assets/img/blog/blog-img4.jpg" alt="blog image">
                            </a>
                        </figure>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <p>25/03/2019 | <a href="#">Hj</a></p>
                            </div>
                            <h5 class="blog-title">
                                <a href="blog-details.html">People are Willing Lie When Comes Money, According to Research</a>
                            </h5>
                        </div>
                    </div>
                    <!-- blog post item end -->
                    <!-- blog post item start -->
                    <div class="blog-post-item">
                        <figure class="blog-thumb">
                            <a href="blog-details.html">
                                <img src="~/WebApp/assets/img/blog/blog-img5.jpg" alt="blog image">
                            </a>
                        </figure>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <p>25/03/2019 | <a href="#">Hj</a></p>
                            </div>
                            <h5 class="blog-title">
                                <a href="blog-details.html">romantic Love Stories Of Hollywood’s Biggest Celebrities</a>
                            </h5>
                        </div>
                    </div>
                    <!-- blog post item end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- latest blog area end -->
<!-- group product start -->
<section class="group-product-area section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title">All Gold</h2>
                    <!--                            <p class="sub-title">Add new products to weekly lineup</p>-->
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-carousel-4_2 slick-row-10 slick-arrow-style">
                    <!-- product item start -->
                    @if (Model.allGold != null)
                    {
                        Ecommerce.Models.ModelClasses.HomeProductsModels allgold = Model;

                        @for (int i = 0; i < Model.allGold.Count; i++)
                        {
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="~/Home/Product?pid=@Model.allGold[@i].ProductId">
                                        <img src="~/ProductImages/@Model.allGold[@i].ProductMainImages_List" alt="product">
                                    </a>
                                    <div class="product-badge">
                                        <!--<div class="product-label new">-->
                                        @*<span>sale</span>*@
                                        <!--</div>-->
                                        <div class="product-label discount">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);" onclick="AddToWishList(@Model.allGold[@i].ProductId,@ViewBag.LoggedUser.userId,0)" data-placement="left" title="Add to wishlist">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                        @*<a href="#" data-toggle="modal"
                            data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="Quick View">
                             <i class="pe-7s-search"></i></span></a>*@
                                    </div>
                                    <div class="cart-hover">
                                        <button class="btn btn-cart" onclick="AddToCart(@Model.allGold[@i].ProductId,0,1)">add to cart</button>
                                    </div>
                                </figure>
                                <div class="product-caption text-center">
                                    <div class="product-identity">
                                        <p class="manufacturer-name"><a href="#">@Model.allGold[@i].CategoryId_name</a></p>
                                    </div>
                                    <h6 class="product-name">
                                        <a href="~/Home/Product?pid=@Model.allGold[@i].ProductId">@Model.allGold[@i].ProductTitle</a>
                                    </h6>
                                    <div class="price-box">
                                        <span class="price-regular">Rs. @Model.allGold[@i].SellingPrice</span>
                                        <span class="price-old"><del>Rs. @Model.allGold[@i].ActualPrice</del></span>
                                    </div>
                                    <!--                                    <div class="product-countdown" data-countdown="2021/11/25"></div>-->
                                </div>
                            </div>
                        }
                        foreach (var v in allgold.allGold)
                        {
                            <div class="product-item">
                                <figure class="product-thumb">
                                    <a href="~/Home/Product?pid=@v.ProductId">
                                        <img src="~/ProductImages/@v.ProductMainImages_List" alt="product">
                                    </a>
                                    <div class="product-badge">
                                        <!--<div class="product-label new">-->
                                        @*<span>sale</span>*@
                                        <!--</div>-->
                                        <div class="product-label discount">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);" onclick="AddToWishList(@v.ProductId,@ViewBag.LoggedUser.userId,0)" data-placement="left" title="Add to wishlist">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                        @*<a href="#" data-toggle="modal"
                            data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="Quick View">
                             <i class="pe-7s-search"></i></span></a>*@
                                    </div>
                                    <div class="cart-hover">
                                        <button class="btn btn-cart" onclick="AddToCart(@v.ProductId,0,1)">add to cart</button>
                                    </div>
                                </figure>
                                <div class="product-caption text-center">
                                    <div class="product-identity">
                                        <p class="manufacturer-name"><a href="#">@v.CategoryId_name</a></p>
                                    </div>
                                    <h6 class="product-name">
                                        <a href="~/Home/Product?pid=@v.ProductId">@v.ProductTitle</a>
                                    </h6>
                                    <div class="price-box">
                                        <span class="price-regular">Rs. @v.SellingPrice</span>
                                        <span class="price-old"><del>Rs. @v.ActualPrice</del></span>
                                    </div>
                                    <!--                                    <div class="product-countdown" data-countdown="2021/11/25"></div>-->
                                </div>
                            </div>
                        }
                    }


                    <!-- product item end -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- group product end -->
<!-- instagram feed start -->
<section class="instagram-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- section title start -->
                <div class="section-title text-center">
                    <h2 class="title">Instagram</h2>
                    <p class="sub-title">Displays an Instagram feed of your photos from your Instagram account on your website.</p>
                </div>
                <!-- section title start -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="instagram-feed-thumb">
                    <div id="instafeed" class="instagram-carousel" data-userid="6666969077" data-accesstoken="6666969077.1677ed0.d325f406d94c4dfab939137c5c2cc6c2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- instagram feed end -->
<!-- brand logo area start -->
<div class="brand-logo section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="brand-logo-carousel slick-row-10 slick-arrow-style">
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/WebApp/assets/img/brand/1.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/WebApp/assets/img/brand/2.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/WebApp/assets/img/brand/3.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/WebApp/assets/img/brand/4.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/WebApp/assets/img/brand/5.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                    <!-- single brand start -->
                    <div class="brand-item">
                        <a href="#">
                            <img src="~/WebApp/assets/img/brand/6.png" alt="">
                        </a>
                    </div>
                    <!-- single brand end -->
                </div>
            </div>
        </div>
    </div>
</div>