@model Ecommerce.Models.ModelClasses.UserMasterModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">login-Register</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- login register wrapper start -->
<div class="login-register-wrapper section-padding loginBanner">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <!-- Login Content Start -->

                <div class="offset-md-6 col-lg-6">
                    <div class="login-reg-form-wrap sign-up-form">
                        <h5>Singup Form</h5>
                        <form action="~/Authenticate/Register" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-input-item">
                                        @Html.TextBoxFor(a => a.UserName, null, new { @type = "text", @placeholder = "Full Name" })
                                        @Html.ValidationMessageFor(a => a.UserName, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-input-item">
                                        @Html.TextBoxFor(a => a.EmailId, null, new { @type = "email", @placeholder = "Email Id" })
                                        @Html.ValidationMessageFor(a => a.EmailId, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-input-item">
                                        @Html.TextBoxFor(a => a.MobileNumber, null, new { @type = "text", @placeholder = "Mobile Number" })
                                        @Html.ValidationMessageFor(a => a.MobileNumber, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-input-item">

                                                @Html.TextBoxFor(a => a.PWord, null, new { @type = "password", @placeholder = "Password" })
                                                @Html.ValidationMessageFor(a => a.PWord, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                @Html.TextBoxFor(a => a.CnfPWord, null, new { @type = "password", @placeholder = "Repeat your password" })
                                                @Html.ValidationMessageFor(a => a.CnfPWord, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-input-item">

                                                @Html.TextBoxFor(a => a.Address1, null, new { @placeholder = "Address 1" })
                                                @Html.ValidationMessageFor(a => a.Address1, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                @Html.TextBoxFor(a => a.Address2, null, new { @placeholder = "Address 2" })
                                                @Html.ValidationMessageFor(a => a.Address2, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-input-item">

                                                @Html.TextBoxFor(a => a.LocationStreet, null, new { @placeholder = "Location" })
                                                @Html.ValidationMessageFor(a => a.LocationStreet, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                @Html.TextBoxFor(a => a.LandMark, null, new { @placeholder = "Landmark" })
                                                @Html.ValidationMessageFor(a => a.LandMark, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                @Html.TextBoxFor(a => a.ZipCode, null, new { @placeholder = "Postal Code" })
                                                @Html.ValidationMessageFor(a => a.ZipCode, null, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 mt-3">
                                            @Html.DropDownListFor(x => Model.CountryId, new SelectList(Model.countryList, "Id", "CountryName", Model.CountryId), htmlAttributes: new { id = "countryId", onchange = "GetStates()" })
                                            @Html.ValidationMessageFor(a => a.CountryId, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6 mt-3">
                                            @Html.DropDownListFor(x => Model.StateId, new SelectList(Model.stateList, "Id", "StateName", Model.StateId), htmlAttributes: new { @id = "stateId", onchange = "GetCities()", @style = "height:200px;overflow-x:hidden;overflow-y:auto;" })
                                            @Html.ValidationMessageFor(a => a.StateId, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 mt-3">
                                            @Html.DropDownListFor(x => Model.CityId, new SelectList(Model.cityList, "Id", "CityName", Model.CityId), htmlAttributes: new { id = "cityId", @class = "state_get" })
                                            @Html.ValidationMessageFor(a => a.CityId, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6 mt-3">


                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 mt-3">
                                            @Html.DropDownListFor(x => Model.AddressTypeId, new SelectList(Model.addtypeList, "Id", "AddressTypeName", Model.AddressTypeId), htmlAttributes: new { id = "addtypeid" })
                                            @Html.ValidationMessageFor(a => a.AddressTypeId, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6 mt-3">

                                        </div>
                                    </div>
                                    <div class="single-input-item">
                                        <button class="btn btn-sqr">Register</button>
                                    </div>
                                    <div class="single-input-item">
                                        <div class="login-reg-form-meta">
                                            <a href="~/Authenticate/Login" class="forget-pwd">Have an Account? Login</a>
                                        </div>
                                    </div>

                                    <div class="single-input-item">
                                        <span class="text-danger">@ViewBag.ErrorMessage</span>
                                    </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').niceSelect();
    });

    function GetCities() {
        var id = $('#stateId option:selected').val();
        $.ajax({
            url: GlobalUrl + "/Masters/GetCities?cid=" + id,
            type: 'post',
            data: '{}',
            success: function (res) {
                $('#cityId').empty();
                if (res.result.length > 0) {
                    $('#cityId').empty();
                    var list = "";
                    for (var i = 0; i < res.result.length; i++) {
                        list += "<option value='" + res.result[i].id + "'>" + res.result[i].cityName + "</option>";
                    }
                    $('select.state_get').html(list);
                    $('select.state_get').niceSelect('update');
                }
            }
        });
    }
</script>